.wrapper {
  @apply relative mr-6;
  .input {
    @apply bg-teal-50 block w-[300px] rounded-md border border-gray-300  py-1 px-1.5 text-gray-500
    focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-700;
  }

  .ico {
    @apply w-9 h-9 absolute top-[-2px] right-10 text-gray-500 cursor-pointer;
    > svg:active {
      fill: #6366f1;
    }

    > svg {
      fill: gray;
    }
  }
}