.button {
  @apply border border-teal-600 shadow rounded-lg active:shadow-2xl
  text-myBlue px-4 py-2 active:text-blue-700 transition-all
  hover:bg-red-900;
  background-color: rgb(252 211 77) !important;

  &:hover {
    background-color: rgb(245 245 85) !important;
  }

  &:active {
    background-color: rgb(252 190 55) !important;
  }
}